/**
 *
 */

.article-head {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 30%;
}

.articles-infos {

}

.article-meta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.article-meta .author {
    margin-right: 0.25rem;
}

.article-meta .date {
    
}