/**
 * MAIN
 */

.main {
    width: 100%;
    height: 100%;
}

.landing-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.4s;
    will-change: transform;
}

.landing-title {
    font-size: 88px;
}

.landing-subtitle {
    font-size: 64px;
    opacity: 0.3;
}

.article .article-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.article-1 .article-img {
    background-image: url("https://cdn.dribbble.com/users/2280632/screenshots/5960859/attachments/1281936/hi_dribbble_plan_de_travail_1.png");
}

.article .article-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    margin: 0;
    padding: 0 18px;
    font-size: 18px;
    font-weight: bold;
    background-color: $green;
    color: #ffffff;
    @media screen and (max-width: 991px) { display: none; }
}

.article .article-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $green;
    @media screen and (max-width: 991px) { display: none; }
}

.article-icon::after {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.article .article-text {
    height: 120px;
    margin-top: 18px;
    @media screen and (max-width: 991px) { overflow-y: scroll; }
    @media screen and (max-width: 767px) { overflow-y: hidden; }
}